.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100vh;
}

.wrapper {
  height: 10px;
  width: 280px;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.inner-wrapper {
  height: 10px;
  background-color: midnightblue;
  transition: width 1s linear;
  border-radius: 15px;
}

.timer-display {
  height: 150px;
}

.placeholder {
  height: 180px;
}

.time-buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.time-buttons {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: green;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.timeDisplay {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: green;
}

body {
  background-color: black;
}
