.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  height: 100vh;
}

.wrapper {
  height: 10px;
  width: 280px;
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
}

.inner-wrapper {
  height: 10px;
  background-color: #7171a3;
  /* transition: width 1s linear; */
  border-radius: 15px;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  height: 150px;
}

.timer-display p {
  margin: 0;
  padding: 0;
}

.placeholder {
  height: 180px;
}

.time-buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.time-buttons {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #1a1a1a;
  font-family: "Inter", sans-serif;
  color: #7171a3;
  /* font-weight: bold; */
  border: none;
  cursor: pointer;
}

.total-time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-time-display h3 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #7171a3;
}

.total-time-display p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #7171a3;
}

.clear-timer-button {
  height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #7171a3;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.timeDisplay {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: #7171a3;
}

body {
  background-color: black;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.message-container {
  height: 26px; /* Adjust based on your message font size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.milestone-message {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px;
  opacity: 0.8;
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
}
