.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  height: 100vh;
}

.wrapper {
  height: 10px;
  width: 280px;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.inner-wrapper {
  height: 10px;
  background-color: midnightblue;
  /* transition: width 1s linear; */
  border-radius: 15px;
}

.timer-display {
  height: 150px;
}

.placeholder {
  height: 180px;
}

.time-buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.time-buttons {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  font-family: "Inter", sans-serif;
  color: midnightblue;
  /* font-weight: bold; */
  border: none;
  cursor: pointer;
}

.total-time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
}

.clear-timer-button {
  height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: white;
  background-color: gray;
  border: 1px solid gray;
}

.timeDisplay {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: white;
}

body {
  background-color: #1a1a1a;
}
